# Auto-merge Dependabot PRs
# IMPORTANT: This workflow requires that you allow GitHub Actions to merge pull requests
# in the repository settings: Settings > Actions > General > Workflow permissions > "Allow GitHub Actions to create and approve pull requests"

name: Auto Merge Dependabot PRs

on:
  pull_request:
    types: [opened, reopened, edited]
    branches: [main]

  schedule:
    - cron: "30 2 * * *"

  workflow_dispatch:

jobs:
  merge-prs:
    name: Merge Dependabot PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Merge Safe Dependabot PRs
        run: |
          for pr_number in $(gh pr list --state open --author 'dependabot[bot]' --json number | jq -r '.[] | .number'); do
            TITLE=$(gh pr view $pr_number --json title --jq '.title')
            
            if [[ "$TITLE" == *'safe-updates'* ]]; then
              echo "::notice :: Merging PR ${pr_number}"
              gh pr merge --auto --squash --delete-branch $pr_number
            else
              echo "::warning :: Skipping PR ${pr_number} because the title, '$TITLE', doesn't contain 'safe-updates'"
            fi
          done
        env:
          GH_TOKEN: ${{ secrets.AUTO_MERGE_TOKEN }}
