# Auto-merge Dependabot PRs
# IMPORTANT: This workflow requires that you allow GitHub Actions to merge pull requests
# in the repository settings: Settings > Actions > General > Workflow permissions > "Allow GitHub Actions to create and approve pull requests"

name: Auto Merge Dependabot PRs

on:
  pull_request:
    types: [opened, reopened, edited]
    branches: [main]

  schedule:
    - cron: "30 2 * * *"

  workflow_dispatch:

jobs:
  merge-prs:
    name: Merge Dependabot PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      # looks specifically for prs that match the '.*safe-.*-updates' regex in the title
      # which indicates that they are part of the 'safe' group of updates defined in the
      # dependbot.yaml config
      - name: Merge Safe Dependabot PRs
        run: |
          for pr_number in $(gh pr list --state open --json number,title | jq -r '.[] | select(.title | contains("safe-updates-")) | .number'); do
            USER=$(gh api /repos/${{github.repository}}/pulls/$pr_number --jq '.user.login')
            MERGEABLE=$(gh api /repos/${{github.repository}}/pulls/$pr_number --jq '.mergeable')

            if [[ "$USER" == "dependabot[bot]" ]] && [[ "$MERGEABLE" == true ]]; then
              echo "::notice :: Merging PR ${pr_number}"
              gh pr merge --auto --squash --delete-branch $pr_number
            else
              echo "::warning :: Skipping PR ${pr_number} because the pr is not mergeable or the user is not 'dependabot[bot]'"
            fi
          done
        env:
          GH_TOKEN: ${{ secrets.AUTO_MERGE_TOKEN }}
