# Auto-merge Dependabot PRs
# IMPORTANT: This workflow requires that you allow GitHub Actions to merge pull requests
# in the repository settings: Settings > Actions > General > Workflow permissions > "Allow GitHub Actions to create and approve pull requests"

name: Auto Merge Dependabot PRs

on:
  pull_request:
  workflow_dispatch:
    inputs:
      method:
        description: "Method to use for merging PRs"
        type: choice
        options:
          - "label"
          - "title"
        required: true
        default: "label"

permissions: write-all

jobs:
  merge-prs-by-label:
    if: github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && github.event.inputs.method == 'label')
    name: Merge Dependabot PRs with 'dependencies' label
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Merge Dependabot PRs by label
        run: |
          for pr_number in $(gh pr list --state open --label "$LABEL" --json number | jq -r '.[] | .number'); do
            echo "Merging $pr_number"
            gh pr review --approve $pr_number
            gh pr merge --auto --squash --delete-branch $pr_number
          done
        env:
          LABEL: "dependencies"
          GH_TOKEN: ${{ github.token }}

  merge-prs-by-title:
    if: github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && github.event.inputs.method == 'title')
    name: Merge Dependabot PRs with keyword in title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Merge Dependabot PRs by title
        run: |
          for pr_number in $(gh pr list --state open --json number,title | jq -r '.[] | select(.title | contains("$KEYWORD")) | .number'); do
            echo "Merging $pr_number"
            gh pr review --approve $pr_number
            gh pr merge --auto --squash --delete-branch $pr_number
          done
        env:
          KEYWORD: "security"
          GH_TOKEN: ${{ github.token }}
