# Auto-merge Dependabot PRs
# IMPORTANT: This workflow requires that you allow GitHub Actions to merge pull requests
# in the repository settings: Settings > Actions > General > Workflow permissions > "Allow GitHub Actions to create and approve pull requests"

name: Auto Merge Dependabot PRs

on:
  pull_request:
    types: [opened, reopened, edited]
    branches: [main]
  workflow_dispatch:
    inputs:
      title:
        description: Title of the pull request
        required: false
        type: string
        default: security

jobs:
  merge-prs:
    name: Merge Dependabot PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Merge Dependabot PRs by title
        run: |
          for pr_number in $(gh pr list --state open --json number,title | jq -r '.[] | select(.title | contains("${{github.event.inputs.title && github.event.inputs.title || 'security' }}")) | .number'); do
            echo "Merging $pr_number"
            gh pr merge --auto --squash --delete-branch $pr_number
          done
        env:
          GH_TOKEN: ${{ secrets.AUTO_MERGE_TOKEN }}
