# Auto-merge Dependabot PRs
# IMPORTANT: This workflow requires that you allow GitHub Actions to merge pull requests
# in the repository settings: Settings > Actions > General > Workflow permissions > "Allow GitHub Actions to create and approve pull requests"

name: Auto Merge Dependabot PRs

on:
  pull_request_target:
    branches:
      - main
    types:
      - labeled

jobs:
  merge-prs-by-label:
    name: Merge Dependabot PRs with 'dependencies' label
    runs-on: ubuntu-latest
    steps:
      - run: |
          for pr_number in $(gh pr list --state open --label "dependencies" --json number | jq -r '.[] | .number'); do
            gh pr merge --auto --squash --delete-branch $pr_number
          done

  merge-prs-by-title:
    name: Merge Dependabot PRs with keyword in title
    runs-on: ubuntu-latest
    steps:
      - run: |
          for pr_number in $(gh pr list --state open --json number,title | jq -r '.[] | select(.title | contains("$KEYWORD")) | .number'); do
            gh pr merge --auto --squash --delete-branch $pr_number
          done
        env:
          KEYWORD: "security"
